.container{
    display: grid;
    border: 1px solid #fff;
    width: 600px;
    height: 400px;
    background-color: #A4C639;
    justify-content: center;
    grid-template-rows: 100px 200px 300px
}
.name{
    width: 350px;
    
  
}
.input{
   margin-left:200px ;
   padding-top:10%;
   padding-left: 10px;
   margin-top: -90px;
}
.nd{
    width: 300px;
    height: 150PX;
}
.nd:placeholder-shown{
    justify-content: center;
    
}
img{
    position: absolute;
    width:180px;
    margin-left: 20px;
    margin-top: 43px;
}

/* .container{
    display: flex;
    border: 1px solid #333;
    width: 900px;
    height: 500px;
}
.name{
    width: 400px; 
}
.phone{
    width: 190px;
}
.email{
    width: 190px;
}
.content{
    width: 400px;
    height: 250px;
    text-transform: auto;
}
.input{
    margin-left: 200px;
    padding-left: 200px;
    padding-top: 20px;
}
img {
    position: absolute;
    width:400px;
    margin-left: 20px;
    margin-top: 50px;
}
 p{
    display: flex;
    padding-left: 30px;
    font-size: 20px; 
} */
